# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Semester_I/Digitale_Systeme_I/Vorlesungen
Semester_I/Elektrische_Systeme_I/Aufgabe10.png
Semester_I/Elektrische_Systeme_I/Aufgabe11.png
Semester_I/Elektrische_Systeme_I/Aufgabe9.png
Semester_I/Elektrische_Systeme_I/Lösungen zur Aufgabensammlung Elektrische Systeme I.pdf
Semester_I/Physik/Übungsaufgaben
Semester_I/English_for_Study_Abroad
Semester_I/Mathe_I/Online-Aufgaben Teil II/1/1.png
Semester_I/Mathe_I/Online-Aufgaben Teil II/1/2.png
Semester_I/Mathe_I/Online-Aufgaben Teil II/1/3.png
Semester_I/Mathe_I/Online-Aufgaben Teil II/1/4.png
Semester_II/Digitale_Systeme_II/labor1/db
Semester_II/Digitale_Systeme_II/labor1/Dennis
Semester_II/Digitale_Systeme_II/labor1/incremental_db
Semester_II/Digitale_Systeme_II/labor1/Mux
Semester_II/Digitale_Systeme_II/labor1/output_files
Semester_II/Digitale_Systeme_II/labor1/simulation
Semester_II/Digitale_Systeme_II/labor2/db
Semester_II/Digitale_Systeme_II/labor2/incremental_db
Semester_II/Digitale_Systeme_II/labor2/output_files
Semester_I/Mathe_I/Online-Aufgaben Teil II/2/2.png
Semester_I/Mathe_I/Online-Aufgaben Teil II/2/3.png
Semester_I/Mathe_I/Online-Aufgaben Teil II/3/1.jpeg
Semester_I/Mathe_I/Online-Aufgaben Teil II/3/2.jpeg
Semester_I/Mathe_I/New OpenDocument Drawing.odg
Semester_II/Digitale_Systeme_II/Labor_grundlagen/DE2_115_User_manual_2013.pdf
Semester_II/Digitale_Systeme_II/Labor_grundlagen/ModelSim_GUI_Introduction.pdf
Semester_II/Digitale_Systeme_II/Labor_grundlagen/Quartus_II_Introduction.pdf
Semester_II/Digitale_Systeme_II/Labor_grundlagen/quartus-schematic.pdf
*.log
*.aux
*.toc
Semester_II/Digitale_Systeme_II/Vorlesungen&Labore
*.bak
Semester_II/Digitale_Systeme_II/labor3/db
Semester_II/Digitale_Systeme_II/labor3/incremental_db
Semester_II/Digitale_Systeme_II/labor3/output_files
Semester_II/Digitale_Systeme_II/labor2/block_diagramm/db
Semester_II/Digitale_Systeme_II/labor2/block_diagramm/incremental_db
Semester_II/Digitale_Systeme_II/labor2/block_diagramm/output_files
Semester_II/Systemprogrammierung/exercise_3/CMakeLists.txt
Semester_II/Systemprogrammierung/exercise_3/cmake-build-debug
Semester_II/Systemprogrammierung/exercise_3/.idea
Semester_II/Digitale_Systeme_II/labor4/db
Semester_II/Digitale_Systeme_II/labor4/output_files
Semester_II/Digitale_Systeme_II/labor4/xnor.vhd
